.mat-form-field {
    margin-right: 4px;
  }
::ng-deep .mat-checkbox-label {
    color: black;
}
mat-icon.mat-icon-rtl-mirror.mat-icon.notranslate.material-icons.mat-icon-no-color {
  width: 40px!important;
}
button.mat-icon-button {
  width: 40px!important;
}