<mat-accordion>
  <mat-expansion-panel [expanded]="expandir" class="overflow-unset">

    <!-- CONTROLA O FORM -->
    <div class="row row-forms" id="ajustaMarginBottom" [formGroup]="form">

      <!-- CONTROLA GRUPO DOS SELECTS -->
      <div class="form-group row col-12 grids">
        <centro-distribuicao-combo class="form-group col-6 col centro-distribuicao-combo"
          [control]="getFormField('cdRegional')" (selecionados)="todosCentroDistribuicaoSelecionados($event)"
          [config]="{multi: false, standalone: true}">
        </centro-distribuicao-combo>

        <rd-setor-cd-combo class="form-group col-6 col fornecedor-combo" [standalone]="false"
          [control]="getFormField('cdSetorSeparacao')" (selecionados)="setorCdSelecionados($event)"
          [config]="{standalone: false, coldStart: true}">
        </rd-setor-cd-combo>

      </div>
      <!-- CONTROLA GRUPO DOS SELECTS -->

      <div class="row col-12 grids">

        <!-- DATA PICKER (SELEÇÃO DATAS)  -->
        <div id="controlaMarginsDataPicker" class="col-12">
          <!-- DATA INICIAL-->
          <div class="row">
            <div class="form-group col-12 col-xl-2 col-lg-3 col-md-4 col-sm-8">
              <div class="title-form ajustaLarguraLabel"><i class="fa fa-0-5x fa-files-o"></i>DATA INICIAL</div>
              <div>
                <mat-form-field appearance="outline" style="width:140px">
                  <input matInput bsDatepicker placeholder="__/__/____" formControlName="dtInicio"
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" autocomplete="off" class="form-control"
                    #datepickerUm="bsDatepicker" type="text" />
                  <a class="icon-input-field dates" (click)="datepickerUm.toggle()">
                    <i class="fa fa-0-5x fa-calendar-o"></i>
                  </a>
                </mat-form-field>
              </div>
            </div>
            <!--/ DATA INICIAL-->
            <!-- DATA FINAL-->
            <div class="form-group col-12 col-xl-2 col-lg-3 col-md-4 col-sm-8">
              <div class="title-form ajustaLarguraLabel"><i class="fa fa-0-5x fa-files-o"></i>DATA FINAL</div>
              <div>
                <mat-form-field appearance="outline" style="width:140px">
                  <input matInput bsDatepicker placeholder="__/__/____" formControlName="dtFim"
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" autocomplete="off" class="form-control"
                    #datepickerDois="bsDatepicker" type="text" />
                  <a class="icon-input-field dates" (click)="datepickerDois.toggle()">
                    <i class="fa fa-0-5x fa-calendar-o"></i>
                  </a>
                </mat-form-field>
              </div>
            </div>
            <!--/ DATA FINAL-->

          </div>
        </div>
        <!-- /DATA PICKER (SELEÇÃO DATAS) -->
      </div>

      <!-- BARRA DE BOTÕES  -->
      <div class="form-group col-12 text-right">

        <!-- CONSULTAR  -->
        <!-- <button mat-button class="dButton d-inline-flex green ml-3 mt-1"
          [disabled]="habilitarBtoConsultarSetores() === true" (click)="consultaRecomendacao()">Consultar
        </button> -->
        <!-- /CONSULTAR  -->

        <!-- CONSULTAR  -->
        <button class="dButton d-inline-flex green ml-3 mt-1" [disabled]="habilitarBtoConsultarSetores() === true" (click)="consultaRecomendacao()">
          Consultar !!! 
        </button>
        <!-- / CONSULTAR  -->

        <!-- EXPORTAR  -->
        <label for="download" class="dButton d-inline-flex green ml-3 mt-1">
          <i class="fa fa-0-5x fa-cloud-download mr-2"></i>
          <span>Exportar</span></label>
        <input id="download" class="form-control file" (click)="exportar()" />
        <!-- / EXPORTAR  -->

        <!-- LIMPAR -->
        <button class="dButton d-inline-flex white ml-3 mt-1" (click)="limparCampos()">
          Limpar campos
        </button>
        <!--/ LIMPAR -->

      </div>
      <!--/ BARRA DE BOTÕES  -->
    </div>
    <!-- /CONTROLA O FORM -->


    <!-- MONTA GRID -->
    <!-- <section *ngIf="resultaConsult.value.length > 0" class="content-block table-consult">
        <table id="tabelaTarget">
            <tr>
                <td><span class="configuraTextosHeaderTabela">CD Regionaljkhgdvbjkl</span></td>
                <td><span class="configuraTextosHeaderTabela">Setor CD</span></td>
                <td><span class="configuraTextosHeaderTabela">Setor ITIM</span></td>
            </tr>
            <tr  style="cursor: pointer;" *ngFor="let item of resultaConsult | async | paginate: { itemsPerPage: queryFilters.getParam('size'), currentPage: queryFilters.getParam('page'), totalItems: paging.value.numberOfItems  }" (click)="alterarSetor(item)" class="efeitoHoverLinha table table-striped" >
                <td><strong>{{ item.cdRegional}}</strong> - {{item.nmRegional}}</td>
                <td><strong>{{item.dsSetorSeparacao}}</strong> </td>
                <td>{{item.cdItimSetorSeparacao}}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="row d-felx justify-content-center">
                        CONTROLA PAGINAÇÃO
                        <pagination-controls
                            class="controlaCssPaginacao" (pageChange)="getPage($event)"
                            autoHide="false"
                            responsive="false"
                            previousLabel="Anterior"
                            nextLabel="Próximo">
                        </pagination-controls>
                        / CONTROLA PAGINAÇÃO
                    </div>
                </td>
              </tr>
          </table>
    </section> -->
    <!--/ MONTA GRID -->
  </mat-expansion-panel>
</mat-accordion>
<!--/ CONTAIN TODO O PAINEL DE FILTROS -->

<rd-loading [@fadeInOut] *ngIf="componentLoading"></rd-loading>