


::ng-deep .mat-expanded { overflow: unset !important}
.ajustarPosicaoBotoesExportar {float: left; width: 100%}
.ajustarPosicaoBotoesExportar ul {float: right}
.ajustarPosicaoBotoesExportar ul li{float: left; margin-left: 15px}
#mostraResultadosCarregados {margin-top: 15px}
    #tabelaTarget {margin-top: 15px}
    #tabelaTarget .configuraTextosHeaderTabela {text-align: left;display: block;width: auto;text-transform: uppercase; font-weight: bold}
        #tabelaTarget td span{display: block;text-align: left}
        .ajustaTamanhoBtoEditar{text-align: left}
        .ajustaTamanhoBtoEditar .iconInsideBtn{padding:0 0.6rem 0 0.6rem!important}
        #tabelaTarget tfoot td{text-align: left}
            #tabelaTarget .msgSemResultadosNaBusca {font-family: Cereal-Medium;color: #005034;font-size: 1rem;margin: 0;padding: 10px 0px 20px 25px}
