
<div class="configFlexLayout">
    <!-- DROPDOWN SELECIONAR CENTRO DISTRIBUIÇÃO  -->
    <centro-distribuicao-combo class="col-4"
        [config]="{standalone: true, coldStart: true}">
    </centro-distribuicao-combo>
    <!--/ DROPDOWN SELECIONAR CENTRO DISTRIBUIÇÃO  -->

    <!-- DROPDOWN SELECIONAR FABRICANTE  -->
    <rd-fabricante-combo class="col-4"
        [config]="{standalone: true, coldStart: true}">
    </rd-fabricante-combo>
    <!-- /DROPDOWN SELECIONAR FABRICANTE  -->

    <!-- DROPDOWN SELECIONAR FORNECEDOR -->
    <rd-fornecedor-combo class="col-4"
        [config]="{standalone: true, coldStart: true}">
    </rd-fornecedor-combo>
    <!--/ DROPDOWN SELECIONAR FORNECEDOR -->
</div>

