.mat-expansion-panel {
    overflow: visible!important;
}
#controlaMarginsDataPicker {
    position: relative;
    z-index: 0;
    margin-left: -3px!important;
    margin-top: -5px;
}

.vigInicio{
    margin-left: 50px;
}
.vigFinal {
    margin-left: 50px;
}
.ajustaLarguraLabel {
    width: 120px;
}
#controlaMarginsDataPicker .form-group{
    width: 100%;
    margin-bottom: 0rem;
}
#legendaDataGeracaoPedido {
    display: absolute;
    position: absolute;
    bottom:-7px;
    left: 16px;
    z-index: 1;
    color:#7b7b7b;
}
#cdProdutosBuscaPadrao {
    position: relative;
    margin-top: -5px;
}
.datepickerStyle {
    background: none;
}
#datepickerStyle {
    background: none;
}



