.fa-0-2x {
    font-size: 0.8rem !important;
    /* 8.8px */
}

.fa-0-4x {
    font-size: 1rem !important;
    /* 11px */
}

.fa-0-5x {
    font-size: 1.125rem !important;
    /* 12.375px */
}

.fa-1x {
    font-size: 1.5rem !important;
    /* 16.5px */
}

.fa-1-4x {
    font-size: 1.65rem !important;
    ;
    /* 18.15px */
}

.fa-1-5x {
    font-size: 1.75rem !important;
    /* 19.25px */
}

.fa-toggle-on {
    color: lighten($color-primary, 10);
}