<mat-accordion>
  <mat-expansion-panel [expanded]="true" class="overflow-unset">
    <form class="col-12 row" [formGroup]="consultaForm">
        <div class="form-group col-5">
            <perfil-acesso-combo  [config]="{multi: false, standalone: true}" [control]="getConsultaFormField('idPerfil')">
            </perfil-acesso-combo>
        </div>

        <div class="form-group col-5">
          <div class="title-form vig" style="padding-bottom: 3px;">
            <div class="title-form vig"><i class="fa fa-0-5x fa-files-o"></i>Pesquisar matricula</div>
          </div>
          <input class="matricula" formControlName="nrMatricula" (keypress)="numberOnly($event)" type="text" placeholder="Digite o número de matrícula">
        </div>
      
      </form>
    <!-- ACTION BUTTONS -->
    <div class="col-12 text-right bot" style="margin-top: 22px;">
      <!-- CONSULTA -->
      <button mat-button class="dButton d-inline-flex green ml-3 mt-1" (click)="consultar(1)"
          [disabled]="(!consultaForm.valid)">Consultar operadores
      </button>
      <!--/ CONSULTA -->

      <!-- LIMPAR -->
      <button class="dButton d-inline-flex white ml-3 mt-1" (click)="limparCampos()">
          Limpar campos
      </button>
      <!--/ LIMPAR -->

  </div>
  <!--/ ACTION BUTTONS -->
  </mat-expansion-panel>
</mat-accordion>

<section *ngIf="dataSource.length>0" class="content-block table-consult">
  <table id="tabelaTarget" style="table-layout:auto!important" class="table table-striped">
      <tr>
        <td style="width: 200px;"><span class="configuraTextosHeaderTabela">Perfil Atrelado</span></td>
        <td style="width: 90px;"><span class="configuraTextosHeaderTabela">Matricula</span></td>
        <td style="width: 270px;"><span class="configuraTextosHeaderTabela">Nome Operador</span></td>
        <td style="width: 128px; "><span class="configuraTextosHeaderTabela">Vigência Inicial</span></td>
        <td style="width: 128px; "><span class="configuraTextosHeaderTabela">Vigência Final</span></td>
        <td style="width: 65px; "><span class="configuraTextosHeaderTabela">Status</span></td>
        <td style="width: 50px"><span class="configuraTextosHeaderTabela">Editar</span></td>
        <td style="width: 50px"><span class="configuraTextosHeaderTabela">Encerrar</span></td>
      </tr>
      <tr *ngFor="let element of dataSource | paginate: { itemsPerPage: queryFilters.getParam('size'), currentPage: queryFilters.getParam('page'), totalItems: paging}">
        <td><span><strong>{{element.dsPerfil}}</strong></span></td>
        <td><span><strong>{{element.matricula}}</strong></span></td>
        <td><span>{{element.nmOperador}}</span></td>
        <td><span>{{element.dtInicioVigencia != null ? element.dtInicioVigencia.slice(0, 10) : 'NÃO ENCONTRADO'}}</span></td>
        <td><span>{{element.dtFimVigencia != null ? element.dtFimVigencia.slice(0, 10) : 'NÃO ENCONTRADO'}}</span></td>
        <td><span>{{(element.status) ? 'Ativo' : 'Inativo'}}</span></td>
        
        <td>
          <span>
            <button mat-button mat-mini-fab style="border: none; background: none;" (click)="alterarVigencia(element)" title="Editar Vigência">
              <mat-icon style="width: 30px!important;">edit</mat-icon>
            </button>
          </span>
        </td>
        <td>
          <span>
            <button mat-button [disabled]="!(element.status)" mat-mini-fab class="col" style="border: none;background: none;" (click)="encerrarVigencia(element)" title="Encerrar vigência">
              <mat-icon style="width: 25px!important;">cancel</mat-icon>
            </button>
          </span>
        </td>
      </tr>
      <tr>
          <td colspan="8">
              <div class="row d-felx justify-content-center">
                  <!-- CONTROLA PAGINAÇÃO -->
                  <pagination-controls
                      class="controlaCssPaginacao" (pageChange)="getPage($event)"
                      autoHide="false"
                      responsive="false"
                      previousLabel="Anterior"
                      nextLabel="Próximo">
                  </pagination-controls>
                  <!--/ CONTROLA PAGINAÇÃO -->
              </div>
          </td>
      </tr>
  </table>
</section>
<rd-loading [@fadeInOut] *ngIf="componentLoading"></rd-loading>