<div class="title-form vig">
  <i class="fa fa-0-5x fa-files-o"></i>
      Selecionar Tipo Estoque
</div>
  <ng-multiselect-dropdown
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="tipoEstoqueLista"
    name="tipo-estoque"
    [placeholder]="'Selecionar Tipo Estoque'"
    [data]="dropdownEstoqueLista"
    (onSelect)="selecionado($event)"
    (onSelectAll)="selecionado($event)"
    (onDeSelect)="selecionado($event)"
    (onDeSelectAll)="limparSelecionados()"
    [settings]="settings"
  >
  </ng-multiselect-dropdown>
<rd-new-modal
  [imagemModal]="imagemModal"
  [tituloModal]="tituloModal"
  [mensagemModal]="mensagemModal"
></rd-new-modal>
<rd-loading [@fadeInOut] *ngIf="componentLoading"></rd-loading>