<mat-accordion>
    <mat-expansion-panel [expanded]="true" class="overflow-unset">
        <div class="row row-forms" id="ajustaMarginBottom" [formGroup]="travaForm">
            <!--Botão de exportar modelo em CSV-->
            <div class="col-12 col form-group divbtnExportModelCsv">
                <button mat-button class="dButton d-inline-flex white ml-3 mt-1 btnExportModelCsv"
                    (click)="downloadCSVDelete()" matTooltip="Exportar csv exclusão">Exportar csv exclusão
                </button>
                <button mat-button class="dButton d-inline-flex white ml-3 mt-1 btnExportModelCsv"
                    (click)="downloadCSVCadastro()" matTooltip="Exportar csv cadastro">Exportar csv cadastro
                </button>
            </div>
            <!--/Botão de exportar modelo em CSV-->

            <!--FILTROS-->
            <div class="col-12 row" [formGroup]="travaForm">

                <!-- DROPDOWN SELECIONAR CENTRO DISTRIBUIÇÃO  -->
                <centro-distribuicao-combo class="form-group col-6 col centro-distribuicao-combo"
                    [config]="{multi: false, standalone: true}" [control]="getFormField('cdRegional')">
                </centro-distribuicao-combo>
                <!--/ DROPDOWN SELECIONAR CENTRO DISTRIBUIÇÃO  -->



                <!--DATEPICKER-->
                <div class="marginless col-4 dtInauguracao mbG">
                    <div class="title-form dataInauguracao"><i class="fa fa-0-5x fa-files-o"></i>Data</div>
                    <div class="form-group dataInauguracaoDatePicker">
                        <mat-form-field appearance="outline" style="width:140px">
                            <input matInput bsDatepicker placeholder="__/__/____" formControlName="dtReserva" autocomplete="off"
                                class="form-control" #datepickerUm="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" type="text" />
                            <a class="icon-input-field dates" (click)="datepickerUm.toggle()">
                                <i class="fa fa-0-5x fa-calendar-o"></i>
                            </a>
                        </mat-form-field>
                    </div>
                </div>
                <!--/DATEPICKER-->


                <!-- INPUT ABERTO PARA SELEÇÃO DE PRODUTOS  -->
                <div id="cdProdutosBuscaPadrao" class="form-group col-6">
                    <div class="title-form vig"><i class="fa fa-0-5x fa-files-o"></i>Digitar os produtos</div>
                    <div class="buscas">
                    <mat-form-field class="col-12 inputFiltro" appearance="outline">
                        <input id="focusOut" matInput class="form-control" formControlName="cdProduto" type="text" placeholder="Digite os produtos separados por vírgula" />
                    </mat-form-field>
                    </div>
                </div>
                <!-- /INPUT ABERTO PARA SELEÇÃO DE PRODUTOS  -->
            </div>
            <!--/FILTROS-->

            <!-- ACTION BUTTONS -->
            <div class="col-12 text-right bot" style="margin-top: 22px;">
                <!-- CONSULTA -->
                <button mat-button class="dButton d-inline-flex green ml-3 mt-1" (click)="consultar(1)"
                    [disabled]="!travaForm.valid">Consultar
                </button>
                <!--/ CONSULTA -->

                <!-- CONSULTA -->
                <button mat-button class="dButton d-inline-flex green ml-3 mt-1" (click)="excluirTravas()"
                    [disabled]="habilitoBotaoExcluirReservas() === true">Excluir Reservas
                </button>
                <!--/ CONSULTA -->

                <!-- IMPORTAR CADASTRO  -->
                <label for="upload" class="dButton d-inline-flex green ml-3 mt-1 ajusteBtPading">
                    <i class="fa fa-0-5x fa-cloud-upload mr-2"></i><span>Importar Cadastro</span>
                </label>

                <input id="upload" class="form-control file"
                [formControl]="fileControl"
                type="file"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                (change)="importFile($event)"
                name="file" />
                <!--/ IMPORTAR CADASTRO  -->

                <!-- IMPORTAR DELEÇÃO  -->
                <label for="uploadDelete" class="dButton d-inline-flex green ml-3 mt-1 ajusteBtPading">
                    <i class="fa fa-0-5x fa-cloud-upload mr-2"></i><span>Importar Exclusão</span>
                </label>

                <input id="uploadDelete" class="form-control file"
                [formControl]="fileControl"
                type="file"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                (change)="importDelete($event)"
                name="file" />
                <!--/ IMPORTAR DELEÇÃO  -->

                <!-- LIMPAR -->
                <button class="dButton d-inline-flex white ml-3 mt-1" (click)="limparCampos()">
                    Limpar campos
                </button>
                <!--/ LIMPAR -->

            </div>
            <!--/ ACTION BUTTONS -->

        </div>

    </mat-expansion-panel>
</mat-accordion>



<section  *ngIf="selecionadosNaGrid.length > 0" class="content-block table-consult">
    <table id="tabelaTarget" class="table table-striped">
        <tr>
            <td style="width: 50px;"><mat-checkbox [(ngModel)]="selecionarTodos" (change)="selecionarTodosItens($event)"></mat-checkbox></td>
            <td style="width: 50px;"><span class="configuraTextosHeaderTabela">CD</span></td>
            <td><span class="configuraTextosHeaderTabela">Produto</span></td>
            <td><span class="configuraTextosHeaderTabela">Quantidade</span></td>
            <td><span class="configuraTextosHeaderTabela">Vigência inicial</span></td>
            <td><span class="configuraTextosHeaderTabela">Vigência final</span></td>
            <td><span class="configuraTextosHeaderTabela">Motivo</span></td>
            <td><span class="configuraTextosHeaderTabela">Código Trava</span></td>
        </tr>
        <tr  class="efeitoHoverLinha" *ngFor="let element of selecionadosNaGrid | paginate: { itemsPerPage: queryFilters.getParam('size'), currentPage: queryFilters.getParam('page'), totalItems: paging}">
            <!-- HABILITAR CHECKBOX -->
            <ng-container *ngIf="element.flVigente === true; else habilitarcheckBox">
                <td><mat-checkbox [(ngModel)]="element.selecionado" (change)="itemSelecionado(element)"> </mat-checkbox></td>
            </ng-container>
            <ng-template #habilitarcheckBox>
                <td><mat-checkbox [disabled]="true"></mat-checkbox></td>
            </ng-template>
            <!-- /HABILITAR CHECKBOX -->

            <td><span><strong>{{element.cdRegional}}</strong></span></td>
            <td><span><strong>{{element.cdProduto}}</strong></span></td>
            <td><span>{{element.qtReserva}}</span></td>
            <td><span>{{element.dtInicioReserva}}</span></td>
            <td><span>{{element.dtFimReserva}} </span></td>
            <td><span> {{element.cdMotivo}} </span></td>
            <td><span> {{element.cdProdutoReserva}} </span></td>
        </tr>
        <tr>
            <td colspan="8">
                <div class="row d-felx justify-content-center">
                    <!-- CONTROLA PAGINAÇÃO -->
                    <pagination-controls
                        class="controlaCssPaginacao" (pageChange)="getPage($event)"
                        autoHide="false"
                        responsive="false"
                        previousLabel="Anterior"
                        nextLabel="Próximo">
                    </pagination-controls>
                    <!--/ CONTROLA PAGINAÇÃO -->
                </div>
            </td>
        </tr>
    </table>
</section>

<!--
<section *ngIf="travas.value.length > 0" class="content-block table-consult" style="padding-top: 1px;">
    <table mat-table [dataSource]="travas | async | paginate: { itemsPerPage: queryFilters.getParam('size'), currentPage: queryFilters.getParam('page'), totalItems: paging.value.numberOfItems  }" class="table table-striped">
      <ng-container matColumnDef="cdRegional">
            <th mat-header-cell *matHeaderCellDef>CD</th>
            <td mat-cell *matCellDef="let element"> {{element.cdRegional}} - {{element.nmRegional}} </td>
        </ng-container>
        <ng-container class="column-produto" matColumnDef="cdProduto">
            <th mat-header-cell *matHeaderCellDef>Produto</th>
            <td mat-cell class="texto" *matCellDef="let element"> {{element.cdProduto}}-{{element.dsProduto}}</td>
        </ng-container>
        <ng-container class="column-quantidade" matColumnDef="qtReserva">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell class="texto" *matCellDef="let element"> {{element.qtReserva}}</td>
        </ng-container>
        <ng-container class="column-inicial" matColumnDef="dtInicioReserva">
            <th mat-header-cell *matHeaderCellDef>Vigência inicial</th>
            <td mat-cell class="texto" *matCellDef="let element"> {{element.dtInicioReserva}}</td>
        </ng-container>
        <ng-container class="column-final" matColumnDef="dtFimReserva">
            <th mat-header-cell *matHeaderCellDef>Vigência final</th>
            <td mat-cell class="texto" *matCellDef="let element"> {{element.dtFimReserva}}</td>
        </ng-container>
        <ng-container class="column-motivo" matColumnDef="cdMotivo">
            <th mat-header-cell *matHeaderCellDef>Motivo</th>
            <td mat-cell class="texto" *matCellDef="let element"> {{element.cdMotivo}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns; sticky: true" style="font-size: 15px;"></tr>
        <tr mat-row (click)="editRow(element)" *matRowDef="let element; columns:columns" style="cursor: pointer;"></tr>

    </table>
    <div class="row d-felx justify-content-center">

        <pagination-controls
            class="controlaCssPaginacao" (pageChange)="getPage($event)"
            autoHide="false"
            responsive="false"
            previousLabel="Anterior"
            nextLabel="Próximo">
        </pagination-controls>

    </div>

</section>
-->
<rd-loading [@fadeInOut] *ngIf="componentLoading"></rd-loading>