<div class="title-form vig">
  <i class="fa fa-0-5x fa-files-o"></i>
  Selecionar Fabricante
</div>
  <ng-multiselect-dropdown
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="fabricanteSelecionado"
    name="fabricante"
    [placeholder]="'Selecionar Fabricante'"
    [data]="fabricantes | async | dropmap: 'cdFornecedor': 'cdFornecedor-nmFantasia' "
    (onSelect)="selecionado($event)"
    (onDeSelect)="selecionado($event)"
    (onDeSelectAll)="limparSelecionados()"
    [settings]="dropdownSettings"
    [disabled]="!!disabled"
  >
  </ng-multiselect-dropdown>