table th {
    text-align: center !important;
}

.cursor{
    cursor: pointer;
}

.middle{
    color: #7b7b7b;
    font-family: Cereal-Light;
    font-size: 0.80rem;
    letter-spacing: 0.02rem;
    align-items: center;
}
.receitas-toggle{
    color: #7b7b7b;
    font-family: Cereal-Light;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
}
label{
    height: 30px;
    font-size: 12px;
    padding: 0rem 1rem;
    line-height: 32px;
    margin-left: 20px;
    margin-right: 20px;
}