/* Structure */
table {
    width: 100%;
}
tr.mat-row {
    height: auto;
}
input#mat-input-4 {
    height: 30px;
}
label#mat-form-field-label-9 {
    font-weight: bold;
}

td{padding:5px 10px; height:35px;}

.content.content-form {
    padding-top: 10px!important;
}
.text-title.text-center {
    margin-bottom: 0px!important;
}
.row.row-forms.one-field-validate {
    display: contents;
}

table.table.table-striped.mat-table {
    table-layout: auto;
}

.table-consult table td, .table-consult table th{
    text-align: center;
}
th.mat-header-cell{
    font-size:15px;
}

.search-produto{
    height: 30px;
}

.accordion.mt-4 {
    margin: 0 0 16px 0!important;
}

.table-consult table td{
    text-align: center;
}

.texto{
    text-align: left!important;
}
th.mat-header-cell{
    font-size:15px;
}
#tabaleGridModalPedidosEfetivados {margin-top: 15px}
#tabaleGridModalPedidosEfetivados .configuraTextosHeaderTabela {display: block;width: auto;text-transform: uppercase; font-weight: bold}
    #tabelatabaleGridModalPedidosEfetivadosTarget td span{display: block;text-align: center}
    #tabaleGridModalPedidosEfetivados tfoot td{text-align: center}