
::ng-deep .mat-expanded { overflow: unset !important}

.content-block {margin-top: 15px}
#tabelaTarget {margin: 20px 0px 0px 5px}

.ajustarPosicaoBotoesExportar {float: left; width: 100%; height: 30px;}
.ajustarPosicaoBotoesExportar ul {float: right}
.ajustarPosicaoBotoesExportar ul li{float: left; margin-left: 15px}

.table-consult table td {
    padding: 5px;
}

.text-right {
    padding-bottom: 10px;
    align-self: center;
    width: 97%;
  }

#tabelaTarget .configuraTextosHeaderTabela {display: block;width: auto;text-transform: uppercase; font-weight: bold}
    #tabelaTarget td span{display: block;text-align: left; font-size: 0.675rem; height: 17px; overflow: hidden}
    .ajustaTamanhoBtoEditar{text-align: center}
    .ajustaTamanhoBtoEditar .iconInsideBtn{padding:0 0.6rem 0 0.6rem!important}
    #tabelaTarget tfoot td{text-align: center}

        .positionRelative{position: relative; z-index: 0}
        .suspenderSmall{position: absolute;top: -17px;z-index: 1;left: -1px}

    .alinhaBtoEditarCentro {text-align: center!important}

    .normal {
        display: inline-block;
        background: #28A745;
        border-radius: 32px;
        color: #000;
        font-size: 13px;
        text-align: center!important;
    }
    .supensaoParcial {
        display: inline-block;
        background: #FFFF00;
        border-radius: 32px;
        color: #000;
        font-size: 13px;
        text-align: center!important;
    }
    .supensaoTotal {
        display: inline-block;
        background: #cb2431;
        border-radius: 32px;
        font-size: 13px;
        color: #fff;
        text-align: center!important;
    }

    .mat-form-field-wrapper {
        width: 140px;
    }