<div class="title-form vig">
    <i class="fa fa-0-5x fa-files-o"></i>Selecionar Grupo
</div>
<!-- DROPDOWN GRUPO PRIORIDADE LOJA-->
<ng-multiselect-dropdown
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="selecionadoLista"
    name="comboGrupoPrioridadeLoja"
    [placeholder]="'Selecionar Grupo'"
    [data]="dropdownLista"
    (onSelect)="selecionado()"
    (onDeSelect)="selecionado()"
    [settings]="dropdownSettingsSelecionarUm">
</ng-multiselect-dropdown>
<!--/ DROPDOWN GRUPO PRIORIDADE LOJA -->

<!-- ÍCONE DE LOADING -->
<rd-loading [@fadeInOut] *ngIf="componentLoading"></rd-loading>
<!--/ ÍCONE DE LOADING -->