<mat-expansion-panel [expanded]="expandir" class="overflow-unset">

<mat-accordion>
    <!-- CONTROLA O FORM -->
    <form class="row row-forms one-field-validate">

      <!-- CONTROLA GRUPO DOS SELECTS -->
      <div class="form-group row col-12 grids">

        <!-- COMBO DE SELECTS TRIPLO-->
        <rd-agrupamento-combos-cd (selecionados)="selectField($event)"  [flagCompraCd]="true" class="full-width spaced-row">

        </rd-agrupamento-combos-cd>
        <!--/ COMBO DE SELECTS TRIPLO-->

      </div>
      <!-- CONTROLA GRUPO DOS SELECTS -->

      <!-- BARRA DE BOTÕES  -->
      <div class="form-group col-12 text-right">
        <!-- EXPORTAR  -->
        <label for="download" class="dButton d-inline-flex green ml-3 mt-1">
          <i class="fa fa-0-5x fa-cloud-download mr-2"></i>
          <span>Exportar</span></label>
        <input id="download" class="form-control file" (click)="exportarDadosConsultados()" />
        <!-- / EXPORTAR  -->

        <!-- LIMPAR CAMPOS  -->
        <button class="dButton d-inline-flex white ml-3 mt-1" (click)="limparCampos()"> Limpar campos
        </button>
        <!-- /LIMPAR CAMPOS  -->
      </div>
      <!--/ BARRA DE BOTÕES  -->
    </form>
    <!-- /CONTROLA O FORM -->
</mat-accordion>
</mat-expansion-panel>
<!--/ CONTAIN TODO O PAINEL DE FILTROS -->

<rd-loading [@fadeInOut] *ngIf="componentLoading"></rd-loading>